.text-center {
    text-align: center;
}

.reveal ol[type=A] {
    list-style-type: upper-alpha;
}

.blur {
    filter: blur(3.5px);
}

.img-center {
    margin-left: auto !important;
    margin-right: auto !important;
    display: block;
}

.img-duo {
    max-height: 80% !important;
    max-width: 10vw !important;
}


.img-small {
    max-height: 20% !important;
    max-width: 20% !important;
}